<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Hallo World</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/designmode.css" rel="stylesheet">
  <link href="css/textmediaoutput.css" rel="stylesheet">
  <link href="css/equeo-styling.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="scripts/lib/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="scripts/lib/require.js"></script>

  <!-- your app's js -->
  <script src="scripts/js/app.js"></script>
</head>
<body ng-app="starter">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="cards.html" type="text/ng-template">
    <ion-view view-title="Startseite">
      <ion-content class="padding">
        <div class="item item-divider" ng-hide="scenarioService.getVisibleUnitCount()">
          Leider sind derzeit keine Informationen verfügbar
        </div>
        <div class="list card learning-unit-card" ng-repeat="unit in scenarioService.getUnits() | orderBy:'-_state.new'" ng-hide="unit._state.hide">
          <a href="#/content" class="item item-icon-right" ng-click="scenarioService.setCurrentUnitUUID(unit._uuid)">
            <i class="icon ion-record positive unit-state-new" ng-if="unit._state.new"></i>
            <i class="icon ion-chevron-right"></i>
            <div class="unit-title">
              {{unit._name}}
              <i class="icon ion-ios-musical-notes positive" ng-if="unit.hasAudio"></i>
              <i class="icon ion-ios-film-outline positive" ng-if="unit.hasVideo"></i>
              <i class="icon ion-ios-book-outline positive" ng-if="unit.hasText"></i>
              <i class="icon ion-ios-photos-outline positive" ng-if="unit.hasImage"></i>
            </div>
            <p>{{unit._description}}</p>
          </a>
        </div>
      </ion-content>

      <div class="bar bar-footer bar-light">
        <div style="text-align: center; line-height: 44px; width: 100%">
          <button class="button button-outline button-positive" ng-click="fireFirstAction()">Hide old units</button>
        </div>
      </div>
    </ion-view>
  </script>

  <script id="content.html" type="text/ng-template">
    <ion-view view-title="Lerneinheit">
      <ion-content class="padding learning-unit-content">
        <div id="gridcontainer" card-content></div>
      </ion-content>
    </ion-view>
  </script>

</body>
</html>
